.Our_AIM{
    position: absolute;
    width: 2073px;
    height: 873px;
    left: -3px;
    top: 746px;
    background: linear-gradient(180deg, #D3DFF1 82.81%, #fff 100%);
}
.aim  {
    position: absolute;
    width: 282px;
    height: 119px;
    left: -6px;
    top: 17px;

    background: #053D4D;
    border-radius: 10px;
}
.pldge {
    position: absolute;
    width: 279px;
    height: 119px;
    left: -6px;
    top: 816px;

    background: #053D4D;
    border-radius: 10px;
}

img{
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 795px;
    height: 497px;
    left: -6px;
    top: 194px;
    background: url(image\ 16Flag.png);
}

.text{
    position: relative;
    width: 1059px;
    height: 523px;
    left: 858px;
    top: 194px;

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
    text-align: justify;

    color: #1B1B1B;
}
.Pledge{
    position: absolute;
    width: 2073px;
    height: 873px;
    left: -9px;
    top: 1694px;

    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.text2{
    position: relative;
width: 950px;
height: 124px;
left: 910px;
top: 200px;

font-family:Verdana, Geneva, Tahoma, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 38px;
text-align: justify;

color: #000000;
}